extends layout 
 
block content 
  h1= title
  if(toShow==null)
    h2 No instance to Detail
  else
  - let searchid = toShow._id 
  - let search_type = toShow.color 
  - let searchcost = toShow.price 
  - let searchsize = toShow.size 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{searchid} 
  - let actionid = "/resource/searchs/" + searchid 
  form(id='SearchForm', action= actionid, method="PUT") 
    div.form-group 
        label.searchAttr(for='color') Search type 
        input#search_type(type='text', name='color', value= search_type ) 
    div.form-group 
        label.searchAttr(for='size') Search size 
        input#size(type='text', name='size', value= searchsize ) 
    div.form-group 
        label.searchAttr(for='price') Search cost 
        input#cost(type='number', name='price', value= searchcost ) 
    input(type="submit") 
 
  script. 
    document.forms['SearchForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 